<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="dashboard-container">
        <aside class="sidebar" id="sidebar">
            <h2>Decoding the Roads</h2>
            <button class="analysis-button" data-target="graph1">Dashboard</button>
            <button class="analysis-button" data-target="graph2">Analysis 1</button>
            <button class="analysis-button" data-target="graph3">Analysis 2</button>
        </aside>

        <main class="main-content">
            <section id="graph1" class="graph-container active">
                <h1>Welcome to my Plotly Chart!</h1>

                {{ plotly_html | safe }}
            </section>
            <section id="graph2" class="graph-container">
                <p>Graph 2 content (replace with your graph).</p>
                <p>Analysis text for graph 2.</p>
            </section>
            <section id="graph3" class="graph-container">
                <p>Graph 3 content (replace with your graph).</p>
                <p>Analysis text for graph 3.</p>
            </section>
        </main>

    </div>
    <!--==================== MAIN JS ====================-->
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>

</html>