<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">

</head>

<body>

    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <h2 class="section__title">Decode</h2>


                <!--==================== Dark Mode Toggle Button ====================-->
                <div>
                    <input type="checkbox" class="checkbox" id="toggleBtn" />
                    <label class="switch" for="toggleBtn">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>
                <!--==================== End====================-->
            </nav>
        </header>
        <main class="main">
            <section class="section" id="introduction">
                <h1 class="section__title">Decoding the Roads</h1>

                <div class="container grid">
                   
                    <!-- From Uiverse.io by adamgiebl -->
                    <a href="/dashboard">
                        <button class="cssbuttons-io-button">
                            Get started
                            <!-- <h1  class="btn">Get Started</> -->
                            <div class="icon">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </button>
                    </a>
                   

                </div>
            </section>
        </main>

        <!--==================== MAIN JS ====================-->
        <script src="{{ url_for('static', path='js/main.js') }}"></script>
    </body>
</body>

</html>