/* Basic styles for responsiveness and dark mode */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* :root { */
    /*========== Colors ==========*/
    /* Change favorite color */
    /* --hue-color: 230; */
    /* HSL color mode */
    /* --primary-color: hsl(var(--hue-color), 69%, 61%); */
    /* --primary-color-second: hsl(var(--hue-color), 69%, 61%); */
    /* --primary-color-lighter: hsl(var(--hue-color), 92%, 85%); */
    /* --text-color: hsl(var(--hue-color), 8%, 45%); */
    /* --text-color-light: hsl(var(--hue-color), 8%, 65%); */
    /* --body-color: hsl(var(--hue-color), 60%, 99%); */
    /* --header-height: 3rem; */
  /* } */

body.dark-theme {
    /* HSL color mode */
    --primary-color-second: hsl(var(--hue-color), 30%, 8%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
  }
  
  body {
    margin: 0 0 var(--header-height) 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.94rem;
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  
.dashboard-container {
    display: flex;
    flex-grow: 1;
    /* Allow main content to expand */
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    /* Adjust as needed */
    background-color: var(--primary-color);
    padding: 20px;
    transition: transform 0.3s ease;
    /* Smooth transition for collapsing sidebar */
}

.sidebar.collapsed {
    transform: translateX(-100%);
    /* Hide sidebar when collapsed */
}


.main-content {
    flex-grow: 1;
    /* Allow main content to expand */
    padding: 20px;
}

.graph-container {
    display: none;
    /* Initially hide all graphs */
}

.graph-container.active {
    display: block;
    /* Show the active graph */
}

/*  */
.menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;
}

/*  */
.analysis-button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0px solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 18px;
    color: var(--text-color);
    padding: 10px 30px;
    transition: 360ms;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    --hover-bgc: #3288de;
    --hover-width: 333px;
    --hover-borderSize: 0px;
    --hover-borderc: #0066cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 600;
    }
    
    .analysis-button:hover{
    color: rgb(255, 255, 255);
    width: 105%;
    background: rgb(50, 136, 222) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(0, 102, 204);
    border-width: 0px;
    border-style: solid;
    }

    /*  */
    /* Responsive Styles */
    @media (max-width: 768px) {

        /* Adjust breakpoint as needed */
        .sidebar {
            width: 100%;
            /* Sidebar takes full width on smaller screens */
            transform: translateY(-100%);
            /* Initially hide sidebar on small screens */
            position: fixed;
            /* Fixed position for sidebar */
            top: 0;
            left: 0;
            z-index: 1000;
            /* Ensure sidebar is on top */
            background-color: #eee;
            /* Ensure sidebar has background color */
        }

        .sidebar.collapsed {
            transform: translateY(-100%);
            /* Hide sidebar when collapsed */
        }

        .main-content {
            padding-top: 60px;
            /* Add padding to account for fixed sidebar */
        }
    }