{% extends "pages/dashboard.html" %}
{% block title %}Prescriptive{% endblock %}
{% block content %}
<div class="flex flex-col items-center justify-center w-full gap-4 mb-4 mt-4 rounded-sm ">
    {% for key, value in prescriptive_analysis.items() %}
    <a href="#" class="block w-full  p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <!-- Chart Title -->
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ value.title }}
        </h5>

        <!-- Chart Description -->
        <p class="font-normal text-gray-700 dark:text-gray-400">
            {{ value.description }}
        </p>
        <!-- ex -->
        <p class="font-normal text-gray-700 dark:text-gray-400">
            {{ value.explination }}
        </p>

        <!-- Chart -->
        <div class="flex items-center justify-center">
            {{ charts[key] | safe }}
        </div>
    </a>
    {% endfor %}
</div>

<div class="flex items-center justify-center h-48 mb-4 mt-4 rounded-sm bg-gray-50 dark:bg-gray-800">
    container 2
</div>
{% endblock %}