<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
    
    <title>About us</title>
</head>

<body>
    <main>
        <!-- From Uiverse.io by Praashoo7 -->
        <div class="card">
            <div class="img"></div>
            <span>About Me</span>
            <p class="info">I’m Walter, a multidisciplinary designer who focuses on telling my clients’ stories
            visually, through enjoyable and meaningful experiences. I specialize in responsive websites and
            functional user interfaces.</p>
            <div class="share">
            <a href=""><i class="fab fa-github"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <i class="fas fa-chart-bar"></i>
            </div>
        </div>
            <button>Resume</button>
        </div>
    </main>
</body>

</html>